Series is one-dimentional labeled array capabple of holding any data type(integers, string, floating point numbers, pyhton objects, etc.). The axis labels are collecctively referred to as the index.

In [2]:
import pandas as pd

In [3]:
numbers=[1,2,3,4,5]

In [4]:
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
letters=['a','b','c','d','e']

In [6]:
pd.Series(data=letters, index=numbers) # Index can be any data type

1    a
2    b
3    c
4    d
5    e
dtype: object

In [7]:
pd.Series(data=letters, index=['letter1','letter2', 'letter3','letter4','letter5'])

letter1    a
letter2    b
letter3    c
letter4    d
letter5    e
dtype: object

In [8]:
data={'name':'Sunil', 'age':26, 'work':'Software Engineer'}

In [9]:
pd.Series(data=data)

name                Sunil
age                    26
work    Software Engineer
dtype: object

In [10]:
pd.Series(data=data, index=['name','age','job'])   #Indnex not matched will provide Nan

name    Sunil
age        26
job       NaN
dtype: object

Series-Attributes

In [11]:
numbers=[1,2,3,4,5]
letters=['a','b','c','d','e']

In [12]:
number_series=pd.Series(numbers)
number_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
letter_series=pd.Series(letters)
letter_series

0    a
1    b
2    c
3    d
4    e
dtype: object

In [16]:
number_series.dtype

dtype('int64')

In [ ]:
letter_series.dtype

dtype('O')

In [18]:
letter_series.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [19]:
number_series.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
incomplete_series=pd.Series(data=['a','b',None], index=[1,2,3])

In [21]:
incomplete_series.hasnans

True

In [22]:
incomplete_series

1       a
2       b
3    None
dtype: object

In [23]:
number_series.shape

(5,)

In [24]:
number_series.size

5

Series-Function

In [35]:
values=pd.Series(data=[1.5, 2.5, 0.5, None, 4.2345, 1.0])

In [26]:
values.max()

np.float64(4.0)

In [27]:
values.min()

np.float64(0.5)

In [28]:
values.sum()

np.float64(9.5)

In [29]:
values.mean()

np.float64(1.9)

In [ ]:
# Get the index of the max & min value of the series
values.idxmax()

4

In [32]:
values.idxmin()

2

In [33]:
values.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

In [34]:
# Round each values in the series
values.round()

0    2.0
1    2.0
2    0.0
3    NaN
4    4.0
5    1.0
dtype: float64

In [36]:
values.round(3)

0    1.500
1    2.500
2    0.500
3      NaN
4    4.234
5    1.000
dtype: float64