In [1]:
import pandas as pd

In [14]:
richest=pd.read_csv('Resources\TopRichestInWorld.csv', usecols=['Name']).squeeze()
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [15]:
type(richest)

pandas.core.series.Series

In [ ]:
richest.to_csv('Resources\Test.csv', index=False)

In [17]:
pd.read_csv('Resources\Test.csv')

                         Name
0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
..                        ...
96           Vladimir Potanin
97       Harold Hamm & family
98               Sun Piaoyang
99         Luo Liguo & family
100                 Peter Woo

[101 rows x 1 columns]

1-head() & tail()

In [22]:
richest=pd.read_csv('Resources\TopRichestInWorld.csv')

In [23]:
richest.head(10)  #will return the first 10 rows

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
5,Larry Page,"$111,000,000,000",49,United States,Google,Technology
6,Sergey Brin,"$107,000,000,000",48,United States,Google,Technology
7,Larry Ellison,"$106,000,000,000",77,United States,software,Technology
8,Steve Ballmer,"$91,400,000,000",66,United States,Microsoft,Technology
9,Mukesh Ambani,"$90,700,000,000",64,India,diversified,Diversified

In [24]:
richest.head(-10)  # Will return all rows from the start (excluding last 10)

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
86,Vladimir Lisin,"$18,400,000,000",65,Russia,"steel, transport",Metals & Mining
87,Fan Hongwei & family,"$18,200,000,000",55,China,petrochemicals,Energy
88,Lakshmi Mittal,"$17,900,000,000",71,India,steel,Metals & Mining
89,Andrew Forrest,"$17,800,000,000",60,Australia,mining,Metals & Mining
90,Jiang Rensheng & family,"$17,700,000,000",68,China,vaccines,Healthcare

In [25]:
richest.tail(10)  #will return the last 10 rows

,Name,NetWorth,Age,Country/Territory,Source,Industry
91,Savitri Jindal & family,"$17,700,000,000",72,India,steel,Metals & Mining
92,Wang Wenyin,"$17,700,000,000",54,China,"mining, copper products",Metals & Mining
93,Li Xiting,"$17,600,000,000",71,Singapore,medical devices,Healthcare
94,Stefan Persson,"$17,600,000,000",74,Sweden,H&M,Fashion & Retail
95,Steve Cohen,"$17,400,000,000",65,United States,hedge funds,Finance & Investments
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [26]:
richest.tail(-10)  # Will return all rows from the end (excluding first 10)

,Name,NetWorth,Age,Country/Territory,Source,Industry
10,Gautam Adani & family,"$90,000,000,000",59,India,"infrastructure, commodities",Diversified
11,Michael Bloomberg,"$82,000,000,000",80,United States,Bloomberg LP,Media & Entertainment
12,Carlos Slim Helu & family,"$81,200,000,000",82,Mexico,telecom,Telecom
13,Francoise Bettencourt Meyers & family,"$74,800,000,000",68,France,L'Oréal,Fashion & Retail
14,Mark Zuckerberg,"$67,300,000,000",37,United States,Facebook,Technology
...,...,...,...,...,...,...
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

2-Sorting Values in a series

In [34]:
richest=pd.read_csv('Resources\TopRichestInWorld.csv', usecols=['Name']).squeeze()
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [38]:
richest.sort_values(axis=0,
                    ascending=True,
                    inplace=False,
                    kind='quicksort',
                    na_position='last',
                    ignore_index=True)

0           Abigail Johnson
1          Alain Wertheimer
2              Alice Walton
3            Amancio Ortega
4            Andrew Forrest
               ...
96           Warren Buffett
97         William Lei Ding
98     Yang Huiyan & family
99             Zhang Yiming
100          Zhong Shanshan
Name: Name, Length: 101, dtype: object

In [41]:
richest.sort_index(ascending=False,
                   ignore_index=True)

0                     Peter Woo
1            Luo Liguo & family
2                  Sun Piaoyang
3          Harold Hamm & family
4              Vladimir Potanin
                 ...
96               Warren Buffett
97                   Bill Gates
98     Bernard Arnault & family
99                   Jeff Bezos
100                   Elon Musk
Name: Name, Length: 101, dtype: object

3-Counting values in series

In [44]:
richest=pd.read_csv('Resources\TopRichestInWorld.csv', usecols=['Industry']).squeeze()
richest

0                 Automotive
1                 Technology
2           Fashion & Retail
3                 Technology
4      Finance & Investments
               ...
96           Metals & Mining
97                    Energy
98                Healthcare
99             Manufacturing
100              Real Estate
Name: Industry, Length: 101, dtype: object

In [49]:
richest.value_counts(normalize=False,
                     ascending=False,
                     dropna=False)

Industry
Fashion & Retail         18
Technology               15
Finance & Investments    13
Metals & Mining           9
Food & Beverage           8
Automotive                7
Diversified               6
Manufacturing             5
Healthcare                5
Media & Entertainment     4
Real Estate               3
Telecom                   2
Logistics                 2
Energy                    2
Gambling & Casinos        1
Service                   1
Name: count, dtype: int64

In [50]:
richest=pd.read_csv('Resources\TopRichestInWorld.csv', usecols=['Age']).squeeze()
richest

0      50
1      58
2      73
3      66
4      91
       ..
96     61
97     76
98     63
99     66
100    75
Name: Age, Length: 101, dtype: int64

In [ ]:
richest.value_counts(bins=5)  # It creates groups (only in numeric data)

(55.6, 68.4]      33
(68.4, 81.2]      27
(81.2, 94.0]      19
(42.8, 55.6]      17
(29.935, 42.8]     5
Name: count, dtype: int64

4-Accessing Elements by Position

In [53]:
richest=pd.read_csv('Resources\TopRichestInWorld.csv', usecols=['Name']).squeeze()
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [54]:
richest.head(10)

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [55]:
richest[0]

'Elon Musk'

In [56]:
richest[[1,2,15]]

1                   Jeff Bezos
2     Bernard Arnault & family
15                  Jim Walton
Name: Name, dtype: object

In [57]:
richest[5:10]

5       Larry Page
6      Sergey Brin
7    Larry Ellison
8    Steve Ballmer
9    Mukesh Ambani
Name: Name, dtype: object

In [58]:
richest[0:21:5]

0                 Elon Musk
5                Larry Page
10    Gautam Adani & family
15               Jim Walton
20             Charles Koch
Name: Name, dtype: object

In [59]:
richest[:10]

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [61]:
richest[-1:]

100    Peter Woo
Name: Name, dtype: object

In [62]:
richest.index

RangeIndex(start=0, stop=101, step=1)

5-Accessing Elements By Index

In [64]:
richest=pd.read_csv('Resources\TopRichestInWorld.csv', usecols=['Name','NetWorth'], index_col='Name').squeeze()
richest

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
                                  ...
Vladimir Potanin             $17,300,000,000
Harold Hamm & family         $17,200,000,000
Sun Piaoyang                 $17,100,000,000
Luo Liguo & family           $17,000,000,000
Peter Woo                    $17,000,000,000
Name: NetWorth, Length: 101, dtype: object

In [65]:
richest.head(10)

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
Larry Page                  $111,000,000,000
Sergey Brin                 $107,000,000,000
Larry Ellison               $106,000,000,000
Steve Ballmer                $91,400,000,000
Mukesh Ambani                $90,700,000,000
Name: NetWorth, dtype: object

In [66]:
richest['Bill Gates']

'$129,000,000,000'

In [68]:
richest[['Bill Gates','Warren Buffett']]

Name
Bill Gates        $129,000,000,000
Warren Buffett    $118,000,000,000
Name: NetWorth, dtype: object

In [69]:
richest['Bill Gates':'Steve Ballmer']

Name
Bill Gates        $129,000,000,000
Warren Buffett    $118,000,000,000
Larry Page        $111,000,000,000
Sergey Brin       $107,000,000,000
Larry Ellison     $106,000,000,000
Steve Ballmer      $91,400,000,000
Name: NetWorth, dtype: object

In [70]:
richest[0:2]

Name
Elon Musk     $219,000,000,000
Jeff Bezos    $171,000,000,000
Name: NetWorth, dtype: object

In [71]:
richest.index

Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
       'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
       'Steve Ballmer', 'Mukesh Ambani',
       ...
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
       'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
       'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
      dtype='object', name='Name', length=101)